body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .title {
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  .subtitle {
    font-size: 20px;
  }
  .font {
    font-size: 18px;
  }
  
  /* legend */
  .legend {
    font-size: 14px;
  }
  rect {
    cursor: pointer; 
    stroke-width: 2;
  }
  rect.disabled {
    fill: transparent !important;
  }
  
  /* chart */

  
  /* tooltip */
  .tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 18px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
  }
  
  .footer {
    padding-top: 50px;
    text-align: center;
    list-style-type: none;
  }

  .task {
      float:left;
  }